.MainMenu-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.MainMenu-button {
    margin-left: 32px;
    margin-right: 32px;
    padding: 0;
    font: inherit;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.MainMenu-button:last-child {
    margin-right: 0;
}
