.Home {
    height: fit-content;
    font: inherit;
}

.Home-background {
    display: flex;
    min-height: 777px;

    background-image: url("../../assets/images/background-home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Home-container {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.8);
    padding-left: 60px;
    padding-right: 72px;
}

.Home-button-login {
    font: inherit;
    font-weight: 900;
    background: #BE1FF5;
    color: white;
    border: 3px solid #BE1FF5;
    border-radius: 8px;
    padding: 10px 24px;
    margin-right: 16px;
    width: 156px;
    cursor: pointer;
}

.Home-button-catalog {
    font: inherit;
    font-weight: 900;
    background: transparent;
    color: #BE1FF5;
    border: 3px solid #BE1FF5;
    border-radius: 8px;
    padding: 10px 24px;
    margin-right: 16px;
    width: 156px;
    cursor: pointer;
}

span {
    margin-top: 64px;
}

p {
    font-size: 20px;
    line-height: 27px;
    color: #062225;
    max-width: 550px;
    margin: 32px 0 0;
}

h1 {
    margin-top: 204px!important;
}
