.Property {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.Property-name {
    font-size: 18px;
    line-height: 27px;
    width: 78px;
    color: rgba(6, 34, 37, 0.5);
}

.Property-value {
    font-size: 18px;
    line-height: 27px;
    color: #062225;
}
