.Head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 60px;

    font-size: 18px;
    line-height: 25px;
}

.Head-logo {
    font-weight: 800;
    cursor: pointer;
}
