.Card {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    box-shadow: 0 8px 16px rgba(199, 197, 214, 0.25);
    border-radius: 12px;
    max-width: 640px;
}

.Card-content {
    padding: 36px 36px 32px 48px;
    width: 100%;
}

h2 {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
}

img {
    border-radius: 12px 0 0 12px;
}
